[submodule "FFACETools"]
	path = FFACETools
	url = https://github.com/h1pp0/FFACETools_ffevo.net.git
[submodule "Submodules/FFACETools"]
	path = Submodules/FFACETools
	url = https://github.com/h1pp0/FFACETools_ffevo.net.git
[submodule "Submodules/FFACE"]
	path = Submodules/FFACE
	url = http://delvl.ffevo.net/Lolwutt/FFACE4-Public.git
