target/
.idea/
*.iml
fitnesse-standalone.jar
plugins/hsac-fitnesse-plugin-*.jar
plugins/maven-classpath-plugin-*.jar
FitNesseRoot/**/*.zip
FitNesseRoot/files/screenshots
FitNesseRoot/files/testResults
FitNesseRoot/files/testProgress
FitNesseRoot/files/downloads
FitNesseRoot/files/pagesources
FitNesseRoot/ErrorLogs
FitNesseRoot/FitNesse
FitNesseRoot/RecentChanges*
FitNesseRoot/ReRunLastFailures.wiki
updateDoNotCopyOverList
updateList
properties
FitNesseRoot/Hsac*
fixtures/
webdrivers/
**/*.log
FitNesseRoot/files/fileFixture
FitNesseRoot/files/test
FitNesseRoot/files/base64
bye.txt
greeting.txt
copy/greetingCopy.txt
greeting.html
bye.txt
greeting.txt
copy/greetingCopy.txt
greeting.html
FitNesseRoot/files/httpPostExamples
FitNesseRoot/files/galenExamples